# Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
- List popular languages for Data Science
- Some commonly used libraries for Data Science
- List Data Science Tools
- To evaluate arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL 
4. Java
5. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Scrapy

|Data science Tools|
|-----------------|
|Apache Spark|
|Tensorflow|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

minutes=200
hours=minutes/60
hours

3.3333333333333335

## Author
Khushi Tibrewal